<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2023 Willink Transformations and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        E.D.Willink - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.ocl.pivot.label_generator">
      <generator for="org.eclipse.qvtd.runtime.evaluation.TransformationInstance"
      	class="org.eclipse.qvtd.runtime.labels.TransformationInstanceLabelGenerator"/>
      <generator for="org.eclipse.qvtd.runtime.evaluation.TypedModelInstance"
      	class="org.eclipse.qvtd.runtime.labels.TypedModelInstanceLabelGenerator"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTtrace -->
      <package
            uri="http://www.eclipse.org/qvt/2018/QVTtrace"
            class="org.eclipse.qvtd.runtime.qvttrace.QVTtracePackage"
            genModel="model/QVTtrace.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated QVTtrace -->
      <parser
            contentTypeIdentifier="org.eclipse.qvtd.qvttrace"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated QVTtrace -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="qvttrace"
            id="org.eclipse.qvtd.qvttrace"
            name="%_UI_QVTtrace_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/qvt/2018/QVTtrace"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

   <extension point="org.eclipse.ocl.pivot.standard_library"
         id="qvtruntimelibrary" name="QVTruntime Library">
     <library uri="http://www.eclipse.org/qvt/2019/QVTruntimeLibrary"
     	class="org.eclipse.qvtd.runtime.model.QVTruntimeLibrary$Loader"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTruntimeLibrary -->
      <package
            uri="http://www.eclipse.org/qvt/2019/QVTruntimeLibrary"
            class="org.eclipse.qvtd.runtime.qvtruntimelibrary.QVTruntimeLibraryPackage"
            genModel="model/QVTruntimeLibrary.genmodel"/>
   </extension>

</plugin>
