<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
	<extension point="org.eclipse.ui.commands">
	  <command id="org.eclipse.qvtd.umlx.ui.SaveUMLXCommand"
	    name="%MF_Save_UMLX_Command" description="%MF_Save_UMLX_Description"/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
	  <handler commandId="org.eclipse.qvtd.umlx.ui.SaveUMLXCommand"
	    class="org.eclipse.qvtd.umlx.ui.commands.SaveUMLXHandler"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
	  <menuContribution locationURI="popup:org.eclipse.ocl.xtext.base.ui.Save?after=additions">
	    <command commandId="org.eclipse.qvtd.umlx.ui.SaveUMLXCommand"
	      label="%MF_Save_UMLX">
            <visibleWhen checkEnabled="false">
                <reference
                    definitionId="org.eclipse.qvtd.xtext.qvtrelation.QVTrelation.Editor.opened">
                </reference>
            </visibleWhen>
	    </command>
	  </menuContribution>
	</extension>

   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
      <launchConfigurationTypeImage
            configTypeID="org.eclipse.qvtd.umlx.launching.UMLXLaunchConfigurationDelegate"
            icon="icons/UMLXModelFile.gif"
            id="UMLX Debug"/>
   </extension>
    
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType id="org.eclipse.qvtd.umlx.launching.UMLXLaunchConfigurationDelegate"
            delegate="org.eclipse.qvtd.umlx.ui.launching.UMLXLaunchConfigurationDelegate"
            modes="run"
            name="UMLX Transformation"/>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
      <launchConfigurationTabGroup id="org.eclipse.qvtd.umlx.launching.UMLXLaunchConfigurationTabGroup"
            class="org.eclipse.qvtd.umlx.ui.launching.UMLXLaunchConfigurationTabGroup"
            description="Create a configuration to launch a UMLX transformation"
            type="org.eclipse.qvtd.umlx.launching.UMLXLaunchConfigurationDelegate"/>
   </extension>

</plugin>
