/.MiniOCLCSOutlineTreeProvider.java._trace
/.MiniOCLCSOutlineTreeProvider.xtendbin
/MiniOCLCSOutlineTreeProvider.java
/.MiniOCLCSCS2ASOutlineTreeProvider.java._trace
/.MiniOCLCSCS2ASOutlineTreeProvider.xtendbin
/MiniOCLCSCS2ASOutlineTreeProvider.java
