/.MiniOCLCSDescriptionLabelProvider.java._trace
/.MiniOCLCSDescriptionLabelProvider.xtendbin
/.MiniOCLCSLabelProvider.java._trace
/.MiniOCLCSLabelProvider.xtendbin
/MiniOCLCSDescriptionLabelProvider.java
/MiniOCLCSLabelProvider.java
