<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTcoreBaseCST -->
      <package
            uri="http://www.eclipse.org/qvt/0.9/QVTcoreBaseCST"
            class="org.eclipse.qvtd.xtext.qvtcorebasecst.QVTcoreBaseCSTPackage"
            genModel="model/QVTcoreBaseCST.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QVTcoreBaseCST NOT-->
      <!--parser
            type="qvtcb"
            class="org.eclipse.qvtd.xtext.qvtcorebasecst.util.QVTcoreBaseCSTResourceFactoryImpl"/-->
      <parser
            type="qvtcbcs"
            class="org.eclipse.qvtd.xtext.qvtcorebasecst.util.QVTcoreBaseCSTResourceFactoryImpl"/>
   </extension>
</plugin>
