<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTcoreBaseCS -->
      <package
            uri="http://www.eclipse.org/qvt/2015/QVTcoreBaseCS"
            class="org.eclipse.qvtd.xtext.qvtcorebasecs.QVTcoreBaseCSPackage"
            genModel="model/QVTcoreBaseCS.genmodel"/>
   </extension>

</plugin>
