/*.dot
/*.graphml
/SimplerKiama.oclas
/SimplerKiama.qvtias
/SimplerKiama.qvtp.qvtias
/SimplerKiama.serialized.qvti
/*ContainmentTree.xmi
/SimplerKiamaSchedule.xmi
/SimplerKiama.qvtp.qvtcas
/SimplerKiama.qvts.xmi
/graphs/
/temp/
/SimplerKiama.qvtm.qvtcas
