<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
    Copyright (c) 2023 Willink Transformations and others.
   
    This program and the accompanying materials
    are made available under the terms of the Eclipse Public License 2.0
    which accompanies this distribution, and is available at
    https://www.eclipse.org/legal/epl-2.0/
   
    SPDX-License-Identifier: EPL-2.0
   
    Contributors:
        E.D.Willink - initial API and implementation
 -->

<!--
-->

<plugin>

   <extension point="org.eclipse.core.contenttype.contentTypes">
     <content-type
            base-type="org.eclipse.qvtd.qvtbcs"
            file-extensions="qvtrcs"
            id="org.eclipse.qvtd.qvtrcs"
            name="%QVTrelationCSName"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/qvt/2015/QVTrelationCS"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated QVTrelation NOT-->
      <!--parser
            contentTypeIdentifier="org.eclipse.qvtd.qvtrelation"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/-->
      <parser contentTypeIdentifier="org.eclipse.qvtd.qvtrelation"
            class="org.eclipse.qvtd.xtext.qvtrelation.utilities.QVTrelationASResourceFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="org.eclipse.ocl.oclcs"
            class="org.eclipse.qvtd.xtext.qvtrelation.utilities.QVTrelationCSResource$QVTrelationCSResourceLoadFactory"/>
   </extension>

  <extension point="org.eclipse.ocl.pivot.as_resource_factory">
     <factory class="org.eclipse.qvtd.xtext.qvtrelation.utilities.QVTrelationASResourceFactory"
     	extension="qvtr" contentType="org.eclipse.qvtd.qvtrelation"/>
  </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="qvtras"
            class="org.eclipse.qvtd.xtext.qvtrelation.utilities.QVTrelationASResourceFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="qvtrcs"
            class="org.eclipse.qvtd.xtext.qvtrelation.utilities.QVTrelationCSResource$QVTrelationCSResourceLoadFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/2015/QVTrelationCS"
            class="org.eclipse.qvtd.xtext.qvtrelationcs.QVTrelationCSPackage"
            genModel="model/QVTrelationCS.genmodel"/>
   </extension>

   <extension point="org.eclipse.team.core.fileTypes">
       <fileTypes extension="qvtrcs" type="text" />
   </extension>
</plugin>
