<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/0.9/QVTrelationCST"
            class="org.eclipse.qvtd.xtext.qvtrelation.qvtrelationcs.QVTrelationCSPackage"
            genModel="model/QVTrelationCST.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QVTrelationCST NOT-->
      <!--parser
            type="qvtr"
            class="org.eclipse.qvtd.xtext.qvtrelationcst.util.QVTrelationCSTResourceFactoryImpl"/-->
      <parser
            type="qvtrcs"
            class="org.eclipse.qvtd.xtext.qvtrelation.qvtrelationcs.util.QVTrelationCSResourceFactoryImpl"/>
   </extension>

null
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QVTrelationCS -->
      <parser
            type="qvtr"
            class="org.eclipse.qvtd.xtext.qvtrelation.qvtrelationcs.util.QVTrelationCSResourceFactoryImpl"/>
   </extension>
</plugin>
