[access]
	inheritFrom = permissions/modeling.mmt.qvtd
[project]
	description = This repository has moved to: https://github.com/eclipse-qvtd/org.eclipse.qvtd\n\nQVT Declarative (QVTd)
	state = read only
[plugin "uploadvalidator"]
	blockedContentTypeWhitelist = false
	maxPathLength = 0
	rejectDuplicatePathnamesLocale = en
	rejectSubmodule = false
	rejectSymlink = false
	rejectWindowsLineEndings = false
