<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package uri = "http://www.eclipse.org/qvt/1.0/QVTCorecst" 
       class = "org.eclipse.qvt.declarative.parser.qvtcore.cst.QVTcCSTPackage"
       genModel = "model/QVTcCST.genmodel" /> 
  </extension>

</plugin>
