/.MiniOCLCSRuntimeModule.java._trace
/.MiniOCLCSRuntimeModule.xtendbin
/.MiniOCLCSStandaloneSetup.java._trace
/.MiniOCLCSStandaloneSetup.xtendbin
/MiniOCLCSRuntimeModule.java
/MiniOCLCSStandaloneSetup.java
