<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/10/24 15:20:35 ewillink Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/1.0/FullOCLcst"
            class="org.eclipse.qvt.declarative.parser.ocl.cst.FullOCLCSTPackage"
            genModel="model/FullOCLCST.genmodel"/>
   </extension>

</plugin>
