<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/2015/QVTcoreCS"
            class="org.eclipse.qvtd.xtext.qvtcorecs.QVTcoreCSPackage"
            genModel="model/QVTcoreCS.genmodel"/>
   </extension>

   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="qvtc" type="text" />
      <fileTypes extension="qvtccs" type="text" />
   </extension>
</plugin>
