<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id$
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/0.9/QVTcoreCST"
            class="org.eclipse.qvtd.xtext.qvtcorecst.QVTcoreCSTPackage"
            genModel="model/QVTcoreCST.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QVTcoreCST -->
      <parser
            type="qvtc"
            class="org.eclipse.qvtd.xtext.qvtcorecst.util.QVTcoreCSTResourceFactoryImpl"/>
   </extension>

</plugin>
