<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/2015/QVTcoreCS"
            class="org.eclipse.qvtd.xtext.qvtcorecs.QVTcoreCSPackage"
            genModel="model/QVTcoreCS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated QVTcoreCS -->
      <parser
            contentTypeIdentifier="org.eclipse.qvtd.xtext.qvtcore"
            class="org.eclipse.qvtd.xtext.qvtcorecs.util.QVTcoreCSResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated QVTcoreCS -->
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="qvtc"
            id="org.eclipse.qvtd.xtext.qvtcore"
            name="%_UI_QVTcoreCS_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/qvt/2015/QVTcoreCS"/>
         </describer>
      </content-type>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated QVTcoreCS NOT-->
      <!--parser
            type="qvtc"
            class="org.eclipse.qvtd.xtext.qvtcorecs.util.QVTcoreCSResourceFactoryImpl"/-->
      <parser
            type="qvtccs"
            class="org.eclipse.qvtd.xtext.qvtcorecs.util.QVTcoreCSResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="qvtc" type="text" />
   </extension>
</plugin>
