<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated QVTSchedule -->
      <package
            uri="http://www.eclipse.org/qvt/0.2/QVTschedule/"
            class="org.eclipse.qvtd.build.qvtschedule.QVTschedulePackage"
            genModel="model/QVTSchedule.genmodel"/>
   </extension>

</plugin>
