<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>
-->

<plugin>

  <extension point="org.eclipse.core.contenttype.contentTypes">
	<content-type id="org.eclipse.qvtd.xtext.qvtimperative" name="%QVTimperativeName" 
		base-type="org.eclipse.core.runtime.text"
		file-extensions="qvti"
        default-charset="UTF-8">
         <describer class="org.eclipse.ocl.pivot.resource.NotXMLContentHandlerImpl$Describer"/>
      </content-type>
  </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated QVTimperative NOT -->
      <!--parser contentTypeIdentifier="org.eclipse.qvtd.qvtimperative"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/-->
      <parser contentTypeIdentifier="org.eclipse.qvtd.qvtimperative"
            class="org.eclipse.qvtd.xtext.qvtimperative.utilities.QVTimperativeASResourceFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="org.eclipse.ocl.oclcs"
            class="org.eclipse.qvtd.xtext.qvtimperative.utilities.QVTimperativeCSResource$QVTimperativeCSResourceLoadFactory"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="qvtias"
            class="org.eclipse.qvtd.xtext.qvtimperative.utilities.QVTimperativeASResourceFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser type="qvtics"
            class="org.eclipse.qvtd.xtext.qvtimperative.utilities.QVTimperativeCSResource$QVTimperativeCSResourceLoadFactory"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/2016/QVTimperativeCS"
            class="org.eclipse.qvtd.xtext.qvtimperativecs.QVTimperativeCSPackage"
            genModel="model/QVTimperativeCS.genmodel"/>
   </extension>

  <extension point="org.eclipse.ocl.pivot.as_resource_factory">
     <factory class="org.eclipse.qvtd.xtext.qvtimperative.utilities.QVTimperativeASResourceFactory"
     	extension="qvti" contentType="org.eclipse.qvtd.qvtimperative"/>
  </extension>

   <extension point="org.eclipse.team.core.fileTypes">
      <fileTypes extension="qvti" type="text" />
      <fileTypes extension="qvtics" type="text" />
   </extension>
</plugin>
