<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="QVTcBuilder"
         name="QVT Core Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="qvtcProblem"
         name="QVT Core Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         id="QVTcNature"
         name="QVT Core Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcNature">
         </run>
      </runtime>
      <builder
            id="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*"
            id="org.eclipse.qvt.declarative.editor.qvtcore.ui.contribution1">
         <action
               label="Add QVT Core Nature"
               class="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcToggleNatureAction"
               menubarPath="org.eclipse.qvt.declarative.naturesMenu/group1"
               enablesFor="+"
               id="org.eclipse.qvt.declarative.editor.qvtcore.ui.addRemoveNatureAction">
         </action>
         <visibility>
            <not>
               <objectState
                     name="projectNature"
                     value="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcNature">
               </objectState>
            </not>
         </visibility>
      </objectContribution>
      <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            nameFilter="*"
            id="org.eclipse.qvt.declarative.editor.qvtcore.ui.contribution2">
         <action
               label="Remove QVT Core Nature"
               class="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcToggleNatureAction"
               menubarPath="org.eclipse.qvt.declarative.naturesMenu/group1"
               enablesFor="+"
               id="org.eclipse.qvt.declarative.editor.qvtcore.ui.addRemoveNatureAction">
         </action>
         <visibility>
            <objectState
                  name="projectNature"
                  value="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcNature">
            </objectState>
         </visibility>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="QVT Core Text Editor"
            icon="icons/QVTcModelFile.gif"
            extensions="qvtc,qvtcore,eqvtcore"
            contributorClass="org.eclipse.qvt.declarative.editor.ui.actions.PagedActionBarContributor"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcEditor"
            id="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcEditor">
      </editor>
   </extension>
   <extension point="org.eclipse.ui.newWizards">
      <wizard
            name="QVT Core Text file"
            icon="icons/QVTcModelFile.gif"
            category="org.eclipse.qvt.declarative.editor"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcNewWizard"
            id="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcNewWizard">
      </wizard>
   </extension>
   <extension point="org.eclipse.qvt.declarative.editor.ui.pageDefinition">
      <page
            pageFactory="org.eclipse.qvt.declarative.editor.ui.text.TextPageFactory"
            creationFactory="org.eclipse.qvt.declarative.editor.qvtcore.ui.QVTcCreationFactory"
            name="QVT Core">
      </page>
   </extension>
   <extension point="org.eclipse.imp.runtime.languageDescription">
      <language language="qvtc" extensions="qvtc" description="QVT Core"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.parser"
         id="org.eclipse.qvt.declarative.editor.qvtcore.ui.parserWrapper"
         name="qvtc Parser Wrapper">
      <parser language="qvtc"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.imp.parser.QVTcParseController"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.tokenColorer">
      <tokenColorer language="qvtc"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.imp.tokenColorer.QVTcTokenColorer"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.foldingUpdater">
      <foldingUpdater language="qvtc"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.imp.foldingUpdater.QVTcFoldingUpdater"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.modelTreeBuilder">
      <treeBuilder language="qvtc"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.imp.treeModelBuilder.QVTcTreeModelBuilder"/>
   </extension>
   <extension point="org.eclipse.imp.runtime.labelProvider">
      <labelProvider language="qvtc"
            class="org.eclipse.qvt.declarative.editor.qvtcore.ui.imp.treeModelBuilder.QVTcLabelProvider"/>
   </extension>

</plugin>
