<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension point="org.eclipse.ocl.pivot.label_generator">
      <generator for="org.eclipse.qvtd.doc.bigmde2016.tests.AllQVTcoreTests"
      	class="org.eclipse.qvtd.doc.bigmde2016.tests.NullLabelGenerator"/>
   </extension>
</plugin>
