<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HSV2HLS -->
      <package
            uri="platform:/resource/ICMT2013/ColoredTree2Tree.ecore"
            class="test.middle.HSV2HLS.HSV2HLSPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtcore/tests/models/HSV2HLS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HSV2HLS -->
      <package
            uri="platform:/resource/ICMT2013/HSVTree.ecore"
            class="test.hsv.HSVTree.HSVTreePackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtcore/tests/models/HSV2HLS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HSV2HLS -->
      <package
            uri="platform:/resource/ICMT2013/HLSTree.ecore"
            class="test.hls.HLSTree.HLSTreePackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtcore/tests/models/HSV2HLS.genmodel"/>
   </extension>

</plugin>
