<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HSV2HLS -->
      <package
            uri="http://http://www.eclipse.org/qvt/examples/0.1/HSVtoHLS"
            class="test.middle.HSV2HLS.HSV2HLSPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HSV2HLS -->
      <package
            uri="http://http://www.eclipse.org/qvt/examples/0.1/HSVTree"
            class="test.hsv.HSVTree.HSVTreePackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated HSV2HLS -->
      <package
            uri="http://http://www.eclipse.org/qvt/examples/0.1/HLSTree"
            class="test.hls.HLSTree.HLSTreePackage"/>
   </extension>

</plugin>
