<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.etl.eclipse.dt.launching.EtlLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#Sat Jan 24 14:18:44 GMT 2015&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=mm&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore&#13;&#10;modelUri=platform\:/resource/org.eclipse.qvtd.build.etl.tests/bin/org/eclipse/qvtd/build/etl/tests/UmlToRdbms/SimpleUMLtoRDBMS.ecore&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.qvtd.build.etl.tests/bin/org/eclipse/qvtd/build/etl/tests/UmlToRdbms/SimpleUMLtoRDBMS.ecore&#13;&#10;expand=true&#13;&#10;metamodelFile="/>
<listEntry value="#Sat Jan 24 14:22:08 GMT 2015&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=tree&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/qvt/examples/0.1/ECoreContainemntTree&#13;&#10;modelUri=platform\:/resource/org.eclipse.qvtd.build.etl.tests/bin/org/eclipse/qvtd/build/etl/tests/UmlToRdbms/SimpleUMLtoRDBMSContainmentTree.xmi&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.qvtd.build.etl.tests/bin/org/eclipse/qvtd/build/etl/tests/UmlToRdbms/SimpleUMLtoRDBMSContainmentTree.xmi&#13;&#10;expand=true&#13;&#10;metamodelFile="/>
</listAttribute>
<listAttribute key="parameters"/>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="org.eclipse.qvtd.compiler/bin/org/eclipse/qvtd/compiler/internal/etl/utils/EcoreToContainmentTree.etl"/>
</launchConfiguration>
