<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.core.resources.markers" id="QVTdBreakpointMarker">
       <super type="org.eclipse.debug.core.lineBreakpointMarker"/>
       <persistent value="true"/>
       <attribute name="org.eclipse.qvtd.debug.unitUri"/>
       <attribute name="org.eclipse.qvtd.debug.runToLine"/>       
    </extension>
   
    <extension point="org.eclipse.debug.core.breakpoints">
       <breakpoint id="org.eclipse.qvtd.debug.core.QVTiBreakpoint"
             class="org.eclipse.qvtd.debug.core.QVTiLineBreakpoint"
             markerType="org.eclipse.qvtd.debug.QVTdBreakpointMarker"
             name="QVTi Breakpoints"/>
    </extension>
    
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
      <launchConfigurationType id="org.eclipse.qvtd.debug.launching.QVTcLaunchConfigurationDelegate"
            delegate="org.eclipse.qvtd.debug.launching.QVTcLaunchConfigurationDelegate"
            modes="run"
            name="QVTc (Core) Transformation"/>
      <launchConfigurationType id="org.eclipse.qvtd.debug.launching.QVTiLaunchConfigurationDelegate"
            delegate="org.eclipse.qvtd.debug.launching.QVTiLaunchConfigurationDelegate"
            modes="run"
            name="QVTi (Imperative) Transformation"/>
      <launchConfigurationType id="org.eclipse.qvtd.debug.launching.QVTrLaunchConfigurationDelegate"
            delegate="org.eclipse.qvtd.debug.launching.QVTrLaunchConfigurationDelegate"
            modes="run"
            name="QVTr (Relations) Transformation"/>
   </extension>

    <extension point="org.eclipse.debug.core.sourceLocators">
        <sourceLocator id="org.eclipse.qvtd.debug.srclookup.QVTiSourceLookupDirector"
        	name="%srcLookupDirector.name"
			class="org.eclipse.qvtd.debug.srclookup.QVTiSourceLookupDirector"/>
    </extension>
    
    <extension point="org.eclipse.debug.core.sourcePathComputers">
       <sourcePathComputer id="org.eclipse.qvtd.debug.srclookup.QVTiSourcePathComputer"
			class="org.eclipse.qvtd.debug.srclookup.QVTiSourcePathComputer"/>
    </extension>

    <!--extension point="org.eclipse.debug.core.watchExpressionDelegates">
       <watchExpressionDelegate
         	debugModel="org.eclipse.qvtd.debug"
         	delegateClass="org.eclipse.qvtd.debug.core.QVTiWatchExpressionDelegate"/>
    </extension-->   

</plugin>
