<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Eclipse OCL Photon Staging Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.atl.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.ocl.examples.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.qvt.oml.samples" version="0.0.0"/>
    <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/releases/photon"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.emf.examples.library" version="0.0.0"/>
    <repository location="http://download.eclipse.org/modeling/emf/emf/builds/milestone"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.epsilon.core.feature.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.epsilon.emf.feature.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/epsilon/updates"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.ocl.examples.tests.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones/6.4.0"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/cbi/updates/license"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="com.google.guava" version="0.0.0"/>
    <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20180606145124/repository"/>
  </location>
</locations>
</target>
