<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Eclipse QVTd Stable Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    <!--unit id="org.eclipse.m2m.atl.sdk.feature.group" version="0.0.0"/-->
    <unit id="org.eclipse.m2m.atl.emftvm.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.ocl.master.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.generator" version="0.0.0"/>
    <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/releases/latest"/>
    <repository location="https://download.eclipse.org/mmt/atl/updates/milestones/4.0"/>
    <repository location="https://download.eclipse.org/modeling/emf/emf/builds/milestone/latest"/>
    <repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/milestones/latest"/>
    <repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/latest"/>
    <repository location="https://download.eclipse.org/mmt/qvto/updates/milestones/latest"/>
    <!--repository location="https://download.eclipse.org/modeling/mdt/uml2/updates/milestones"/-->
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.epsilon.core.feature.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.epsilon.emf.feature.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/epsilon/updates/1.5"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.ocl.examples.tests.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/milestones/latest"/>
    <repository location="https://download.eclipse.org/modeling/mdt/ocl/updates/releases/latest"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
    <repository location="https://download.eclipse.org/cbi/updates/license"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="com.google.guava" version="0.0.0"/>
    <unit id="com.ibm.icu" version="0.0.0"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-S"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/latest-R"/>
    <!-- legacy repo needed for com.ibm.icu.text for Sirius/GMF/GEF/Draw2D -->
    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="javax.annotation" version="0.0.0"/>
    <repository location="https://download.eclipse.org/tools/orbit/downloads/drops/R20220302172233/repository"/>
  </location>
</locations>
</target>
