<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target includeMode="feature" name="Eclipse QVTd Stable Build Target Platform" sequenceNumber="16">
<locations>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.equinox.ds" version="0.0.0"/>
    <unit id="org.eclipse.m2m.atl.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.ocl.master.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.m2m.qvt.oml.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.uml2.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.xtext.sdk.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.sirius.specifier.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/releases/2018-09"/>
    <repository location="http://download.eclipse.org/mmt/atl/updates/milestones/4.0"/>
    <repository location="http://download.eclipse.org/modeling/emf/emf/builds/milestone"/>
    <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones"/>
    <repository location="http://download.eclipse.org/mmt/qvto/updates/milestones"/>
    <!--repository location="http://download.eclipse.org/modeling/mdt/uml2/updates/milestones"/-->
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.emf.examples.library" version="0.0.0"/>
    <repository location="http://download.eclipse.org/modeling/emf/emf/builds/release/2.14"/>
    <repository location="http://download.eclipse.org/modeling/emf/emf/builds/milestone"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.epsilon.core.feature.feature.group" version="0.0.0"/>
    <unit id="org.eclipse.epsilon.emf.feature.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/epsilon/updates"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.ocl.examples.tests.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/modeling/mdt/ocl/updates/milestones"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="org.eclipse.license.feature.group" version="0.0.0"/>
    <repository location="http://download.eclipse.org/cbi/updates/license"/>
  </location>
  <location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
    <unit id="com.google.guava" version="0.0.0"/>
    <repository location="http://download.eclipse.org/tools/orbit/downloads/drops/S20181128170323/repository"/>
  </location>
</locations>
</target>
