<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension point="org.eclipse.ui.commands">
		<category id="org.eclipse.qvtd.sirius.commands.category"
		name="QVTd Sirius Category"/>
		<command categoryId="org.eclipse.qvtd.sirius.commands.category"
			name="InitializeDiagram"
			id="org.eclipse.qvtd.sirius.commands.initializeDiagram"/>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler class="org.eclipse.qvtd.sirius.InitializeDiagramHandler"
			commandId="org.eclipse.qvtd.sirius.commands.initializeDiagram"/>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<command label="Initialize Diagram"
				commandId="org.eclipse.qvtd.sirius.commands.initializeDiagram"
				icon="icons/diagram.gif" tooltip="Initialize a Diagram from a model">
				<visibleWhen checkEnabled="false">
					<with variable="selection">
						<iterate>
							<adapt type="org.eclipse.core.resources.IFile">
								<test property="org.eclipse.qvtd.sirius.ide.hasODesign" forcePluginActivation="true"/>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
</plugin>
