<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.4 2008/10/30 06:08:27 ewillink Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package uri="http://www.eclipse.org/qvt/0.9/QVTbase"
            class="org.eclipse.qvtd.pivot.qvtbase.QVTbasePackage"
            genModel="model/QVTbase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated QVTbase -->
      <parser
            contentTypeIdentifier="org.eclipse.qvtd.qvtbase"
            class="org.eclipse.emf.ecore.xmi.impl.XMIResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated QVTbase -->
      <content-type
            base-type="org.eclipse.emf.ecore.xmi"
            file-extensions="qvtbase"
            id="org.eclipse.qvtd.qvtbase"
            name="%_UI_QVTbase_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.eclipse.org/qvt/0.9/QVTbase"/>
            <parameter name="kind" value="xmi"/>
         </describer>
      </content-type>
   </extension>

</plugin>
