<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
      point="org.eclipse.epsilon.common.dt.tool">
        <tool
          class="org.eclipse.ocl.examples.pivot.utilities.PivotUtil"
          defaultName="PivotUtil">
      </tool>
      <tool
        class="org.eclipse.ocl.examples.pivot.internal.impl.TypeImpl"
        defaultName="TypeImpl">
      </tool>
      <tool
        class="org.eclipse.qvtd.etl.tests.EolToOclBridge"
        defaultName="OclBridge">
      </tool>
   </extension>
</plugin>
