<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/2016/UMLX"
            class="org.eclipse.qvtd.umlx.impl.UMLXPackageImpl"
            genModel="model/UMLX.genmodel"/>
   </extension>

</plugin>
