<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.content_parser">
      <parser
            contentTypeIdentifier="org.eclipse.qvtd.umlx"
            class="org.eclipse.qvtd.umlx.resource.UMLXResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/2016/UMLX"
            class="org.eclipse.qvtd.umlx.impl.UMLXPackageImpl"
            genModel="model/UMLX.genmodel"/>
   </extension>

   <extension point="org.eclipse.ocl.pivot.label_generator">
      <generator for="org.eclipse.qvtd.umlx.RelDomainNode"
      	class="org.eclipse.qvtd.umlx.labels.RelDomainNodeLabelGenerator"/>
      <generator for="org.eclipse.qvtd.umlx.RelPatternEdge"
      	class="org.eclipse.qvtd.umlx.labels.RelPatternEdgeLabelGenerator"/>
      <generator for="org.eclipse.qvtd.umlx.RelPatternNode"
      	class="org.eclipse.qvtd.umlx.labels.RelPatternNodeLabelGenerator"/>
      <generator for="org.eclipse.qvtd.umlx.UMLXModel"
      	class="org.eclipse.qvtd.umlx.labels.UMLXModelLabelGenerator"/>
      <generator for="org.eclipse.qvtd.umlx.UMLXNamedElement"
      	class="org.eclipse.qvtd.umlx.labels.UMLXNamedElementLabelGenerator"/>
  </extension>

  <extension point="org.eclipse.team.core.fileTypes">
    <fileTypes extension="umlx" type="text" />
  </extension>

</plugin>
