<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SourceMM1 -->
      <package
            uri="http://cs2as/tests/example1/sourceMM/1.0"
            class="example1.source.SourcePackage"
            genModel="src/org/eclipse/qvtd/cs2as/compiler/tests/models/example1/SourceMM1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated TargetMM1 -->
      <package
            uri="http://cs2as/tests/example1/targetMM/1.0"
            class="example1.target.TargetPackage"
            genModel="src/org/eclipse/qvtd/cs2as/compiler/tests/models/example1/TargetMM1.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Environment -->
      <package
            uri="http://cs2as/tests/example1/env/1.0"
            class="example1.env.EnvironmentPackage"
            genModel="src/org/eclipse/qvtd/cs2as/compiler/tests/models/example1/EnvExample1.genmodel"/>
   </extension>

</plugin>
