<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UMLtoRDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/UMLtoRDBMS"
            class="test.umltordbms.UmltordbmsPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassToRDBMS/UMLtoRDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UMLtoRDBMS -->
      <parser
            type="umltordbms"
            class="test.umltordbms.util.UmltordbmsResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UMLtoRDBMS -->
      <package
            uri="http://http://www.eclipse.org/qvt/examples/0.1/simpleUML"
            class="test.simpleuml.SimpleumlPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassToRDBMS/UMLtoRDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UMLtoRDBMS -->
      <parser
            type="simpleuml"
            class="test.simpleuml.util.SimpleumlResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated UMLtoRDBMS -->
      <package
            uri="http://http://www.eclipse.org/qvt/examples/0.1/SimpleRDBMS"
            class="test.simplerdbms.SimplerdbmsPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassToRDBMS/UMLtoRDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated UMLtoRDBMS -->
      <parser
            type="simplerdbms"
            class="test.simplerdbms.util.SimplerdbmsResourceFactoryImpl"/>
   </extension>

</plugin>
