<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassesCS2AS NOT -->
      <!--package
            uri="http://tracesmodel/1.0/classescstraces"
            class="classescstraces.ClassescstracesPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassesCS2AS/ClassesCS2AS.genmodel"/-->
      <package
            uri="dummy-protocol://dummy-nsuri/qvt/tracesmodel/1.0/classescstraces"
            class="classescstraces.ClassescstracesPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassesCS2AS/ClassesCS2AS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassesCS2AS NOT -->
      <!--package
            uri="http://ocldependencyanalysis/classescs/1.0"
            class="classescs.ClassescsPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassesCS2AS/ClassesCS2AS.genmodel"/-->
      <package
            uri="dummy-protocol://dummy-nsuri/qvt/ocldependencyanalysis/classescs/1.0"
            class="classescs.ClassescsPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassesCS2AS/ClassesCS2AS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ClassesCS2AS NOT -->
      <!--package
            uri="http://ocldependencyanalysis/classes/1.0"
            class="classes.ClassesPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassesCS2AS/ClassesCS2AS.genmodel"/-->
      <package
            uri="dummy-protocol://dummy-nsuri/qvt/ocldependencyanalysis/classes/1.0"
            class="classes.ClassesPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ClassesCS2AS/ClassesCS2AS.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ManualUML2RDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/ManualUML2RDBMS"
            class="manualuml2rdbms.uml2rdbms.UML2RDBMSPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ManualUML2RDBMS/ManualUML2RDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ManualUML2RDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/ManualUML"
            class="manualuml2rdbms.uml.UMLPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ManualUML2RDBMS/ManualUML2RDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ManualUML2RDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/ManualRDBMS"
            class="manualuml2rdbms.rdbms.RDBMSPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/ManualUML2RDBMS/ManualUML2RDBMS.genmodel"/>
   </extension>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleUML2RDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/SimpleUML2RDBMS"
            class="simpleuml2rdbms.uml2rdbms.UML2RDBMSPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/SimpleUML2RDBMS/SimpleUML2RDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleUML2RDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/SimpleUML"
            class="simpleuml2rdbms.uml.UMLPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/SimpleUML2RDBMS/SimpleUML2RDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SimpleUML2RDBMS -->
      <parser
            type="simpleuml"
            class="simpleuml2rdbms.uml.util.UMLResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated SimpleUML2RDBMS -->
      <package
            uri="http://www.eclipse.org/qvt/examples/0.1/SimpleRDBMS"
            class="simpleuml2rdbms.rdbms.RDBMSPackage"
            genModel="src/org/eclipse/qvtd/xtext/qvtimperative/tests/SimpleUML2RDBMS/SimpleUML2RDBMS.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated SimpleUML2RDBMS -->
      <parser
            type="simplerdbms"
            class="simpleuml2rdbms.rdbms.util.RDBMSResourceFactoryImpl"/>
   </extension>
</plugin>
