/classescs2as.serialized.qvti
/classescs2as.oclas
/*.dot
/*.graphml
/classescs2as.qvtp.qvtias
/classescs2as.qvtias
/*ContainmentTree.xmi
/classescs2asSchedule.xmi
/classescs2asV2.oclas
/classescs2asV2.serialized.qvti
/classescs2asV2Schedule.xmi
/classescs2asV2.qvtias
/classescs2asV2.qvtp.qvtias
