<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 <copyright>
 </copyright>

 $Id: plugin.xml,v 1.1 2008/12/31 18:11:04 ewillink Exp $
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/qvt/1.0/TestQVTBase"
            class="org.eclipse.qvt.declarative.test.TestQVTBase.TestQVTBasePackage"
            genModel="model/TestQVTBase.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="testqvtbase"
            class="org.eclipse.qvt.declarative.test.TestQVTBase.util.TestQVTBaseResourceFactoryImpl"/>
   </extension>

</plugin>
