<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.migration.eclipse.dt.launching.MigrationLaunchConfigurationDelegate">
<intAttribute key="migratedModel" value="1"/>
<listAttribute key="models">
<listEntry value="#Fri Jan 16 13:07:38 GMT 2015&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=QVTu&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=QVT&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/qvt/2015/QVTbase,http\://www.eclipse.org/ocl/2015/Pivot,http\://www.eclipse.org/qvt/2015/QVTcoreBase,http\://www.eclipse.org/qvt/2015/QVTcore&#13;&#10;modelUri=platform\:/resource/org.eclipse.qvtd.build.qvtrtoqvtc.tests/src/org/eclipse/qvtd/build/qvtrtoqvtc/tests/seqtostm/SeqToStm.qvtu.qvtcas&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.qvtd.build.qvtrtoqvtc.tests/src/org/eclipse/qvtd/build/qvtrtoqvtc/tests/seqtostm/SeqToStm.qvtu.qvtcas&#13;&#10;expand=false&#13;&#10;metamodelFile="/>
<listEntry value="#Fri Jan 16 13:07:42 GMT 2015&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=QVTm&#13;&#10;readOnLoad=false&#13;&#10;storeOnDisposal=true&#13;&#10;aliases=QVT&#13;&#10;cached=false&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/qvt/2015/QVTbase,http\://www.eclipse.org/ocl/2015/Pivot,http\://www.eclipse.org/qvt/2015/QVTcoreBase,http\://www.eclipse.org/qvt/2015/QVTcore&#13;&#10;modelUri=platform\:/resource/org.eclipse.qvtd.build.qvtrtoqvtc.tests/src/org/eclipse/qvtd/build/qvtrtoqvtc/tests/seqtostm/SeqToStm.qvtm.qvtcas&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.qvtd.build.qvtrtoqvtc.tests/src/org/eclipse/qvtd/build/qvtrtoqvtc/tests/seqtostm/SeqToStm.qvtm.qvtcas&#13;&#10;expand=false&#13;&#10;metamodelFile="/>
<listEntry value="#&#13;&#10;#Wed Aug 06 11:20:13 BST 2014&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=config&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/qvt/examples/0.1/QVTcConfig&#13;&#10;modelUri=platform\:/resource/org.eclipse.qvtd.build.qvtrtoqvtc.tests/src/org/eclipse/qvtd/build/qvtrtoqvtc/tests/seqtostm/SeqToStmConfig.xmi&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.qvtd.build.qvtrtoqvtc.tests/src/org/eclipse/qvtd/build/qvtrtoqvtc/tests/seqtostm/SeqToStmConfig.xmi&#13;&#10;expand=true&#13;&#10;metamodelFile=&#13;&#10;"/>
<listEntry value="#Wed Jan 14 13:47:57 GMT 2015&#13;&#10;isMetamodelFileBased=false&#13;&#10;name=oclStdLib&#13;&#10;readOnLoad=true&#13;&#10;storeOnDisposal=false&#13;&#10;aliases=&#13;&#10;cached=true&#13;&#10;fileBasedMetamodelUri=&#13;&#10;metamodelUri=http\://www.eclipse.org/ocl/2015/Pivot&#13;&#10;modelUri=platform\:/resource/org.eclipse.ocl.pivot/model-gen/OCL-2.5.oclas&#13;&#10;reuseUnmodifiedFileBasedMetamodels=true&#13;&#10;type=EMF&#13;&#10;modelFile=/org.eclipse.ocl.pivot/model-gen/OCL-2.5.oclas&#13;&#10;expand=true&#13;&#10;metamodelFile="/>
</listAttribute>
<intAttribute key="originalModel" value="0"/>
<stringAttribute key="source" value="/org.eclipse.qvtd.compiler/src/org/eclipse/qvtd/compiler/internal/etl/mtc/QVTuToQVTm.mig"/>
</launchConfiguration>
